{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}All Users{% endblock %}</h1>
{% endblock %}

{% block content %}

  <div class="app-body">

      {% if not g.user %}
        <div class="error">Please login first to see this page!</div>
      {% endif %}

      {% for user in all_users %}
        <div class="user-details user-info">
          <div>Name:     <span>{{ user['name'] }}</span></div>
          <div>Username: <i>private</i></div>
          {% if user['is_public'] %}
            <div>Address: <span>{{ user['address'] }}</span></div>
            <div>Age:     <span>{{ user['age'] }}</span></div>
          {% else %}
            <div>Address:  <i>private</i></div>
            <div>Age:      <i>private</i></div>
          {% endif %}
        </div>
      {% endfor %}

  </div>
{% endblock %}

