<!DOCTYPE html>
<html>
  <head>
    <title>Fishy Emporium</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="App">
      <header class="app-header flex">

        <h1 class="grow">Fishy Emporium</h1>
      </header>

      <div class="app-body">
        <table class="mt-20">
          <tbody>
          <tr><th>User</td><td><%= user.id %></td></tr>
          <tr><th>Name</td><td><%= user.name %></td></tr>
        </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
